

    <div class='row'>
        <div class="col-12 top-bar">
            <i class="fa fa-times float-right fa-2x close-conversation"></i>
            <%= image_tag @users.first.images.first, height:'50px', width:'50px', class:'@users.first-thumb rounded-circle mr-2' %>
            <p class="text-muted"><span>You and <%= @users.first.first_name %></span> matched on <%= @users.first.created_at %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Its been <%= time_ago_in_words @users.first.created_at %> since you two matched.</p>
            <%= image_tag @users.first.images.first, height:'100px', width:'100px', class:'rounded-circle' %>
            <p>Send them a message!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="input-group">
                    <input type="text" name="message" id="" placeholder='Try... "Whats your favorite food?"' class="form-control">
                    <div class="input-group-append">
                        <input type="submit" value="Send" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
