<div class="container">
    <div class="row">
        <div class="col-3 col-md-4">
        <%= render 'layouts/profile_bar' %>
        
            <ul class="nav nav-tinder-sidebar mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-matches-tab" data-toggle="pill" href="#pills-matches" role="tab" aria-controls="pills-matches" aria-selected="true">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-messages-tab" data-toggle="pill" href="#pills-messages" role="tab" aria-controls="pills-messages" aria-selected="false">Messages</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-matches" role="tabpanel" aria-labelledby="pills-matches-tab">
                    <%= render partial: "browse/matches" %>
                </div>
                <div class="tab-pane fade" id="pills-messages" role="tabpanel" aria-labelledby="pills-messages-tab">
                    <div class="col">
                    <%= render partial: 'list' %>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-9 col-md-8">
            <ul id="slides">
                <% @users.each_with_index do |user, index| %>
                <div class="slide <%= 'showing' if index == 0 %>" data-id="<%= user.id %>">
                    <% if user.images.first %>
                        <div class="image-carousel" style="background-image: url('<%= url_for user.images.first %>')">
                        
                        </div>
                    <% end %>
                    <div class='user-details'>
                        <span class="user-name"><%= user.first_name %></span>, 31<br>
                        <i class="fa fa-graduation-cap mr-1"></i>Job / University<br>
                        <i class="fa fa-map-marker mr-3"></i>Location<br>
                    </div>
                </div>
                <% end %>
            </ul>

            <div id="slide-controls">
                <div id="decline" class="d-inline-block fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-white"></i>
                <i class="fa fa-times fa-stack-1x text-danger"></i>
                </div>

                <div id="approve" class="d-inline-block fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-white"></i>
                <i class="fa fa-heart fa-stack-1x text-success"></i>
                </div>
            </div>
                <div id="conversation">
                </div>
        </div>
    </div>
</div>

